// Override / set color variables
// $myCustom: rgba(64, 206, 148, 1);
// $primary: $myCustom;
// Custom Bootstrap variable overrides go first
$grid-breakpoints: (
  xs: 0,
  sm: 480px,
  md: 720px,
  lg: 992px,
  xl: 1300px
);
$input-btn-focus-width: 0px;
//colors
$primary: #e7ee7e;
$secondary: #888888;

// Then include the following
@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-vue/src/index.scss';

// And define any of your custom or additional CSS/SCSS here,
// or via an @import
.btn{
    border: none;
}
@import './mixins.scss'